/*** IMPORTAÇÕES ***/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

/*** PADRONIZAÇÃO ***/

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em; /* 16px ou tamanho 12 */
}

img {
  max-width: 100%; /* A largura da imagem se adapta a tela */
  height: auto;
}

/*** SMARTPHONE ***/

/* Cabeçalho (Header) */
header {
  height: 80px;
}

#logo img {
  width: 75%;
  height: 75%;
  padding: 12px 0px 0px 12px; /* Aplica o mesmo espaçamento em todas as direções */
}

#check {
  display: none;
}

label {
  font-size: 2.8em;
  color: rgba(
    153,
    51,
    153,
    0.5
  ); /* Vermelho, Verde, Azul, Transparência (0 a 1) */
  position: fixed;
  top: 10px;
  right: 15px;
}

nav ul {
  background-color: #6a1b9a;
  height: 100vh; /* 100% da altura da tela do dispositivo */
  list-style: none; /* Remove os bulets */
  position: fixed;
  top: 80px;
  right: -100%;
  width: 100%;
  transition: all 0.6s;
}

nav ul li {
  padding: 20px;
  border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/* Quando a caixa check for selecionada, mudar a propriedade right da tag ul */
#check:checked ~ ul {
  right: 0;
}

/* Página em construção */
#construct {
  text-align: center;
  padding: 30px 0px 30px 0px; /* Top, Right, Bottom, Left */
}

#construct h2 {
  color: #ff7043;
}

/* Rodapé */
footer {
  background-color: #5e35b1;
  text-align: center;
  padding: 30px 0px 30px 0px; /* Top, Right, Bottom, Left */
}

footer p {
  color: #ffffff;
  font-size: 0.875em;
}

/*** DESKTOP/NOTEBOOK ***/

/* (Media/Media Query) Tudo que for codificado dentro desta media tem o comportamento alterado para resoluções de tela acima de 1200px. */
@media (min-width: 1200px) {
  /* Cabeçalho (Header) */

  .Layout {
    max-width: 1140px;
    margin: 0 auto; /* Centralização do container na página */
    /*background-color: #ffff00; (Teste de Centralização)*/
  }

  header {
    padding-top: 30px;
    height: 135px;
  }

  #logo {
    float: left;
  }

  #logo img {
    width: 535px;
    height: 109px;
  }

  label {
    display: none;
  }

  nav {
    float: right;
  }

  nav ul {
    position: static;
    height: auto;
    background-color: #ffffff;
    margin-top: 32px;
  }

  nav ul li {
    display: inline-block;
    border: 0;
  }

  nav ul li a {
    color: black;
    font-weight: 600;
    text-transform: uppercase; /* Transforma todo o texto em maiúsculo */
  }

  nav ul li a:hover {
    color: #6a1b9a;
  }

  /* Rodapé (Footer) */
  footer {
    font-size: 1em;
    padding: 40px 0px 40px 0px;
  }
}
